<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>



    <p></p>
    <main>
        {{{body}}}
    </main>
    <footer></footer>



</body>

</html>