<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="login.handlebars">Log in</a></li>
                <li><a href="userProfile.handlebars">User Profile</a></li>
            </ul>
        </nav>
        <h1>{{siteTitle}}</h1>
    </header>
</body>

    <p></p>
    <main>
        {{{body}}}
    </main>
    <footer></footer>



</body>

</html>