<h1>Favorites</h1>
<div class="favorite-fitposts">
	{{#each favoriteFitposts}}
		<div class="fitpost">
			<img src="{{imageUrl}}" alt="{{description}}" />
			<p>{{description}}</p>
		</div>
	{{/each}}
</div>