<form action="/fitposts" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" accept="image/*" />
	<input type="text" name="caption" placeholder="Caption" />
	<button type="submit">Submit</button>
</form>

{{#each posts}}
	<div class="post">
		<img
			src="{{this.imageUrl}}"
			width="200px;"
			height="200px"
			alt="Fitpost Image"
		/>
		<p>{{this.caption}}</p>
		<button class="delete-button" data-id="{{this._id}}">Delete</button>
	</div>
{{/each}}