<div class="container">
	<div class="image-container">
		<img class="rounded" width="200" height="400" src="<%=post.imageUrl%>"></img>
		<a href="#" class="delete-link">Delete</a>
	</div>

	<div class="image-container">
		<img src="image2.jpg" alt="Image 2" />
		<a href="#" class="delete-link">Delete</a>
	</div>

	<div class="image-container">
		<img src="image3.jpg" alt="Image 3" />
		<a href="#" class="delete-link">Delete</a>
	</div>
</div>