

    <title>My User Profile</title>

    <div class = "profile picture">
            <div class = "profile-pic"></div>
    </div>
    <div>
        <h2 id="userName">users.userName</h2>
    </div>
    <div></div>
    <div class = "container"> 
        <section class = "profile"></section>
            <div class = "bio"></div>
        <section class = "FitPost">users.wardrobes</section>
    </div>
