

    <title>My User Profile</title>

    <div class = "profile picture">
            <div class = "profile-pic"></div>
    </div>
    <div>
        <p id="welcome">Welcome {{firstName}} {{lastName}}"</p>
        <h2 id="userName">{{userName}}</h2>
    </div>
    <div></div>
    <div class = "container"> 
        <section class = "profile"></section>
            <div class = "bio"></div>
    </div>
    <a id="logoutLink" href="/logout">Logout</a>

