.wardrobe-preview {
  display: flex;
  flex-direction: row;
}

.preview-content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.fitposts {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.fitpost {
  margin-right: 20px;
}

.fitpost-content {
  display: flex;
  flex-direction: row;
}

.fitpost-item {
  margin-right: 20px;
}

/* .outfit-previews {
  display: flex;
  justify-content: space-between;
}

.preview-content {
  display: flex;
  flex-wrap: wrap;
}

.outfit-preview {
  flex: 0 0 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.preview-outfit {
  display: block;
  margin-bottom: 10px;
}

.prev-button,
.next-button {
  margin: 5px;
} */
